<app-page-prime>
  <div class="schedules-module">
    <section class="container-flex">
      <div class="row mt-3 graphs-container">
        <div class="col-5 col-sm-5 col-md-5 col-lg-5" *ngFor="let graph of schedulesData.activitySummary;
                                                            trackBy: prepareGraphData.bind(this)">
          <app-chart-doughnut [doughnutGraphData]="graph" [showTotal]="true"></app-chart-doughnut>
        </div>
      </div>
    </section>
    <section class="product-details">
      <ul class="product-detail-list list-inline row" *ngFor="let counts of schedulesData.activitySummary;">
        <li class="col-6">Total Schedules: {{counts.totalCount}}</li>
        <li class="col-6 text-right">Grouped Devices: {{counts.groupedDevices}}</li>
        <li class="col-6">Total Devices: {{counts.totalDevices}}</li>
        <li class="col-6 text-right">Non-grouped Devices: {{counts.nonGroupedDevices}}</li>
      </ul>

      <div class="row product-details-row">
        <nav class="navbar no-gutters navbar-light bg-light icon-bar inverse-theme form-tight-row">
          <div class="col-3 sec-title-prime">Templates</div>
          <div  class="col-7">
            <form class="form-inline" name="scheduleUpdateForm" action="" (submit)="unda" method="post" [formGroup]="scheduleUpdateForm" novalidate >
              <div class="form-row row no-gutters form-tight-cell w-100">
                <div class="col-9">
                  <div class="row no-gutters">
                    <select class="col-9 form-control" id="search-schedule-select" name="search-schedule-select" formControlName="searchScheduleSelect">
                      <option selected="selected">Schedule 1</option>
                      <option>Schedule 2</option>
                      <option>Schedule 4</option>
                    </select>
                    <div class="col-3">
                      <button class="btn icon-box bg-search btn-outline-success" type="submit">
                        <img class="icon menu-icon" src="assets/icons/svg/si-glyph-text-search.svg" />
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <button class="btn icon-box bg-search btn-outline-success" type="submit">
                    <img class="icon menu-icon" src="assets/icons/svg/si-glyph-trash.svg" />
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-2 right-container">
            <a href="/schedule" class="nav-link icon-box selected" (click)="openModal(template, $event)">
              <img class="icon menu-icon" src="assets/icons/svg/si-glyph-circle-plus.svg" />
            </a>
          </div>
        </nav>
      </div>

      <div class="row product-details-row">
        <nav class="navbar no-gutters navbar-light bg-light icon-bar inverse-theme form-tight-row">
          <div class="col-3 sec-title-prime">Groups</div>
          <div  class="col-9">
            <form class="form-inline" name="scheduleUpdateForm" action="" (submit)="unda" method="post" [formGroup]="scheduleUpdateForm" novalidate >
              <div class="form-row row no-gutters form-tight-cell w-100">
                <div class="col">
                  <div class="row no-gutters">
                    <select class="col-10 form-control" id="search-schedule-select" name="search-schedule-select" formControlName="searchScheduleSelect">
                      <option selected="selected">Schedule 1</option>
                      <option>Schedule 2</option>
                      <option>Schedule 4</option>
                    </select>
                    <div class="col-2">
                      <button class="btn icon-box bg-search btn-outline-success" type="submit">
                        <img class="icon menu-icon" src="assets/icons/svg/si-glyph-text-search.svg" />
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </nav>
      </div>

      <div class="row product-details-row">
        <nav class="navbar no-gutters navbar-light bg-light icon-bar inverse-theme form-tight-row">
          <form class="form-inline" name="scheduleUpdateForm" action="" (submit)="unda" method="post" [formGroup]="scheduleUpdateForm" novalidate >
            <div class="form-row row no-gutters w-100">
              <!--<div class="col-4">

                <input type="text"
                       placeholder="Datepicker"
                       class="form-control"
                       bsDatepicker>
              </div>-->
              <div class="col-8">

                <input type="text"
                       placeholder="Datepicker"
                       class="form-control"
                       bsDaterangepicker>
              </div>
              <div class="col-4">
                <button type="submit" class="btn btn-primary" [routerLink]="['/devices']">Save</button>
              </div>
            </div>
          </form>
        </nav>
      </div>

      <div class="row product-details-row">
        <nav class="navbar navbar-light bg-light icon-bar">
          <div class="col sec-title-prime">SCHEDULE DETAILS</div>
          <div class="col right-container">
            <a href="#" class="nav-link icon-box selected">
              <img class="icon menu-icon" src="assets/icons/svg/si-glyph-circle-plus.svg" />
            </a>
          </div>
        </nav>
      </div>
    </section>
    <section class="product-table">
      <app-navbar-tabs [tabMenuList]="menuList"></app-navbar-tabs>
      <router-outlet></router-outlet>
    </section>
  </div>
</app-page-prime>
