<app-page-prime>
  <div class="content-wrapper-module schedules-module">
    <section class="container-flex">
      <div class="collapse-content-parent {{collapsedClass}}">
        <div class="icon-bar text-right mt-2 mb-2">
          <button class="btn icon-box bg-search" type="button" (click)="isChartCollapsed = !isChartCollapsed">
            <img class="icon menu-icon exp-collapse" src="assets/icons/svg/si-glyph-arrow-two-up.svg" />
          </button>
        </div>
        <div (collapsed)="chartCollapsed($event)"
             (expanded)="chartExpanded($event)"
             [collapse]="isChartCollapsed"
             class=" ">
          <div class="row graphs-container">
            <div class="col-5 col-sm-5 col-md-5 col-lg-5" *ngFor="let graph of graphData">
              <app-chart-doughnut [doughnutGraphData]="graph" [showTotal]="true"></app-chart-doughnut>
            </div>
          </div>
          <ul class="product-detail-list list-inline row" *ngFor="let counts of graphData">
            <li class="col-6">Total Schedules: {{counts.totalCount}}</li>
            <li class="col-6 text-right">Grouped Devices: {{counts.activity1Value}}</li>
            <li class="col-6">Total Devices: {{counts.activity2Value}}</li>
            <li class="col-6 text-right">Non-grouped Devices: {{counts.activity3Value}}</li>
          </ul>
        </div>
      </div>
    </section>
    <section class="product-details">
      <div class="row product-details-row">
        <nav class="navbar no-gutters navbar-light bg-light icon-bar inverse-theme form-tight-row">
          <div class="col-3 sec-title-prime">Templates</div>
          <div  class="col-7">
            <form class="form-inline" name="scheduleTemplateForm" method="post" [formGroup]="scheduleTemplateForm" novalidate >
              <div class="form-row row no-gutters form-tight-cell w-100">
                <div class="col-9">
                  <div class="row no-gutters">

                    <select class="col-9 form-control" id="schedule-template-name-select" name="schedule-template-name-select"
                            formControlName="scheduleTemplateNameSelect" [(ngModel)]="schduleTemplateDefaultOpt">

                      <option *ngFor="let optData of scheduleTemplateData" [value]="optData.TemplateScheduleId" >
                        {{optData.Name}}
                      </option>
                    </select>
                    <div class="col-3">
                      <button class="btn icon-box bg-search btn-outline-success" type="button" >
                        <img class="icon menu-icon" src="assets/icons/svg/si-glyph-text-search.svg" />
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <button class="btn icon-box bg-search btn-outline-success" type="button" (click)="scheduleTemplateDelete()">
                    <img class="icon menu-icon" src="assets/icons/svg/si-glyph-trash.svg" />
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-2 right-container">
            <button class="btn icon-box bg-search btn-outline-success" type="button" (click)="openModal(template, $event)">
              <img class="icon menu-icon" src="assets/icons/svg/si-glyph-circle-plus.svg" />
            </button>
          </div>
        </nav>
      </div>

      <div class="row product-details-row">
        <nav class="navbar no-gutters navbar-light bg-light icon-bar inverse-theme form-tight-row">
          <div class="col-3 sec-title-prime">Groups</div>
          <div  class="col-9">
            <!--<form class="form-inline" name="scheduleUpdateForm2" action="" (submit)="unda" method="post" [formGroup]="scheduleUpdateForm2" novalidate >
              <div class="form-row row no-gutters form-tight-cell w-100">
                <div class="col">
                  <div class="row no-gutters">
                    <select class="col-10 form-control" id="search-schedule-groups" name="search-schedule-groups" formControlName="searchScheduleSelect2">
                      <option selected="selected">Schedule 1</option>
                      <option>Schedule 2</option>
                      <option>Schedule 4</option>
                    </select>
                    <div class="col-2">
                      <button class="btn icon-box bg-search btn-outline-success" type="submit">
                        <img class="icon menu-icon" src="assets/icons/svg/si-glyph-text-search.svg" />
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>-->
          </div>
        </nav>
      </div>

      <div class="row product-details-row">
        <nav class="navbar no-gutters navbar-light bg-light icon-bar inverse-theme form-tight-row">
          <!--<form class="form-inline" name="scheduleUpdateForm3" action="" (submit)="unda" method="post" [formGroup]="scheduleUpdateForm3" novalidate >
            <div class="form-row row no-gutters w-100">
              &lt;!&ndash;<div class="col-4">

                <input type="text"
                       placeholder="Datepicker"
                       class="form-control"
                       bsDatepicker>
              </div>&ndash;&gt;
              <div class="col-8">

                <input type="text"
                       placeholder="Datepicker"
                       class="form-control"
                       bsDaterangepicker>
              </div>
              <div class="col-4">
                <button type="submit" class="btn btn-primary" [routerLink]="['/devices']">Save</button>
              </div>
            </div>
          </form>-->
        </nav>
      </div>

      <div class="row product-details-row">
        <nav class="navbar navbar-light bg-light icon-bar">
          <div class="col sec-title-prime">SCHEDULE DETAILS</div>
          <div class="col right-container">
            <a href="#" class="nav-link icon-box selected">
              <img class="icon menu-icon" src="assets/icons/svg/si-glyph-circle-plus.svg" />
            </a>
          </div>
        </nav>
      </div>
    </section>
    <section class="product-table">
      <app-navbar-tabs [tabMenuList]="menuList"></app-navbar-tabs>
      <router-outlet></router-outlet>
    </section>
  </div>
</app-page-prime>
<ng-template #template>
  <app-create-schedule-template [modalRef]="modalRef"></app-create-schedule-template>
</ng-template>
