<app-page-prime>
  <div class="content-wrapper-module devices-module">
    <section class="container-flex">
      <div class="collapse-content-parent {{collapsedClass}}">
        <div class="icon-bar text-right mt-2 mb-2">
          <button class="btn icon-box bg-search" type="button" >
            <img class="icon menu-icon" src="assets/icons/svg/si-glyph-filter-solid.svg" />
          </button>
          <button class="btn icon-box bg-search" type="button" (click)="isChartCollapsed = !isChartCollapsed">
            <img class="icon menu-icon exp-collapse" src="assets/icons/svg/si-glyph-arrow-two-up.svg" />
          </button>
        </div>
        <div (collapsed)="chartCollapsed($event)"
             (expanded)="chartExpanded($event)"
             [collapse]="isChartCollapsed"
             class=" ">
          <div class="row graphs-container">
            <div class="line-graph-container col-7 col-sm-7 col-md-7 col-lg-7" *ngIf="isChartAvailable">
              <app-chart-line [lineGraphData]="lineGraphData"></app-chart-line>
            </div>
            <div class="col-5 col-sm-5 col-md-5 col-lg-5" *ngFor="let graph of graphData">
              <app-chart-doughnut [doughnutGraphData]="graph" [showTotal]="true"></app-chart-doughnut>
            </div>
          </div>
          <div class="row">
                <div class="power-stats">Expected:{{expectedConsumption}} Units</div>
                <div class="power-stats float-left text-right">Actual:{{actualConsumption}} Units</div>
          </div>
        </div>
      </div>
    </section>
    <section class="product-details">
      <div class="row product-details-row">
        <nav class="navbar navbar-light bg-light icon-bar">
          <div class="col sec-title-prime">Device details</div>
          <div class="col right-container">
            <input class="form-control search-input icon-box" type="search" placeholder="Search"  
             aria-label="Search" #searchInput>
            <form class="">
              <button class="btn icon-box bg-search btn-outline-success" type="submit">
                <img class="icon menu-icon" src="assets/icons/svg/si-glyph-text-search.svg" (click)="mySearch(searchInput.value)" />
              </button>
            </form>
            <a href="#" class="nav-link icon-box g-map selected">
              <img class="icon menu-icon" src="assets/icons/svg/si-glyph-google-map.svg" (click)="openModal(template, $event)" />
            </a>
          </div>
        </nav>
      </div>
      <div class="row">
        <ul class="product-detail-list list-inline" *ngFor="let counts of graphData">
          <li class="list-inline-item">Total: {{counts.totalCount}}</li>
          <li class="list-inline-item">Active: {{counts.activity2Value}}</li>
          <li class="list-inline-item">Inactive: {{counts.activity1Value}}</li>
        </ul>
      </div>
    </section>
    <section class="product-table">
      <app-tabular-content-primary [tabularData]="deviceListData" [searchData]="searchString"  [rowClickHandler]="selectRow.bind(this)"  ></app-tabular-content-primary>
    </section>
  </div>
</app-page-prime>
<ng-template #template>
  <app-map [modalRef]="modalRef"  [deviceData]="deviceDataSource" ></app-map>
</ng-template>
