<app-page-prime>
  <section class="admin-add-customer-module container-flex">
    <div class="container-liquid">
      <div class="row">
        <div class="form-title-container col-12">
          <span class="form-title">ADMIN - CUSTOMER</span>
        </div>
        <div class="form-container col-12">
          <form name="addCustomerForm" action="" (submit)="unda" method="post" [formGroup]="addCustomerForm" novalidate >
            <fieldset>
              <table class="table">
                <tr class="form-group">
                  <td><label for="add-customer-first-name" >First Name:</label></td>
                  <td><input type="text" class="form-control" id="add-customer-first-name" name="add-customer-first-name" placeholder="" formControlName="addCustomerFirstName"></td>
                </tr>
                <tr class="form-group">
                  <td><label for="add-customer-last-name" >Last Name:</label></td>
                  <td><input type="text" class="form-control" id="add-customer-last-name" name="add-customer-last-name" placeholder="" formControlName="addCustomerLastName"></td>
                </tr>
                <tr class="form-group">
                  <td><label for="add-customer-phone-number" >Phone Number:</label></td>
                  <td><input type="text" class="form-control" id="add-customer-phone-number" name="add-customer-phone-number" placeholder="" formControlName="addCustomerPhoneNumber"></td>
                </tr>
                <tr class="form-group">
                  <td><label for="add-customer-address" >Address:</label></td>
                  <td><input type="text" class="form-control" id="add-customer-address" name="add-customer-address" placeholder="" formControlName="addCustomerAddress"></td>
                </tr>
                <tr class="form-group">
                  <td><label for="add-customer-state" >State:</label></td>
                  <td>
                    <select class="form-control" id="add-customer-state" name="add-customer-state" formControlName="addCustomerState">
                      <option selected="selected">Linked</option>
                      <option>Unlinked</option>
                      <option>Pending</option>
                    </select>
                  </td>
                </tr>
                <tr class="form-group">
                  <td><label for="add-customer-city" >City:</label></td>
                  <td><input type="text" class="form-control" id="add-customer-city" name="add-customer-city" placeholder="" formControlName="addCustomerCity"></td>
                </tr>
                <tr class="form-group">
                  <td><label for="add-customer-pin-code" >Pin Code:</label></td>
                  <td><input type="text" class="form-control" id="add-customer-pin-code" name="add-customer-pin-code" placeholder="" formControlName="addCustomerPinCode"></td>
                </tr>
                <tr class="form-group">
                  <td><label for="add-customer-type" >Customer Type:</label></td>
                  <td>
                    <select class="form-control" id="add-customer-type" name="add-customer-type" formControlName="addCustomerType">
                      <option selected="selected">Admin User</option>
                      <option>Customer User</option>
                    </select>
                  </td>
                </tr>
                <tr class="form-group">
                  <td>&nbsp;</td>
                  <td>
                    <div class="mt-2">
                      <button type="submit" class="btn btn-primary" [routerLink]="['/groups']">Save</button>
                      <button type="button" class="btn btn-primary" [routerLink]="['/groups']">Cancel</button>
                    </div>
                  </td>
                </tr>
              </table>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </section>
</app-page-prime>
