<app-page-prime>
  <section class="admin-add-customer-module container-flex">
    <div class="container-liquid">
      <div class="row">
        <div class="form-title-container col-12">
          <span class="form-title">ADMIN - CUSTOMER</span>
        </div>
        <div class="form-container col-12">
          <form name="addCustomerForm" (submit)="saveCustomer(template)" [formGroup]="addCustomerForm" novalidate >
            <fieldset>
                <input  type="hidden" class="form-control" id="add-customer-CustomerID" name="add-customer-CustomerID" placeholder="" formControlName="CustomerID" [ngModel]="customerFormData.CustomerID">
              <table class="table">
                <tr class="form-group">
                  <td><label for="add-customer-name" class="font-weight-bold">Name*:</label></td>
                 <!-- <td>
                    <select class="form-control" id="add-user-customerID" name="add-user-customerID" formControlName="CustomerID" [ngModel]="customerFormData.CustomerID">
                        <option *ngFor="let custList of customerList" [ngValue]="custList.CustomerID">{{custList.Name}}</option>
                    </select>
                 </td>-->
                <td><input  type="text" class="form-control" id="add-customer-name" name="add-customer-name" placeholder="" formControlName="Name" [ngModel]="customerFormData.Name"></td>
                </tr>
                <tr class="form-group">
                  <td><label for="add-customer-phone-number" class="font-weight-bold">Mobile Number*:</label></td>
                  <td><input type="text" class="form-control" id="add-customer-phone-number" name="add-customer-phone-number" placeholder="" formControlName="PhoneNumber" required [pattern]="phonePattern" [ngModel]="customerFormData.PhoneNumber"></td>
                </tr>
                <tr class="validateColor" *ngIf="PhoneNumber.errors && (PhoneNumber.dirty || PhoneNumber.touched)"> 
                    <td *ngIf="PhoneNumber.errors.required">
                        Mobile Number Required
                    </td>      
                    <td *ngIf="PhoneNumber.errors.pattern">
                        Mobile Number not valid.
                    </td> 
                   </tr> 
                <tr class="form-group">
                  <td><label for="add-customer-state" class="font-weight-bold">State*:</label></td>
                  <td><input type="text" class="form-control" id="add-customer-state" name="add-customer-state" placeholder="" formControlName="State" [ngModel]="customerFormData.State"></td>
                </tr>
                <tr class="form-group">
                  <td><label for="add-customer-city" class="font-weight-bold">City*:</label></td>
                  <td><input type="text" class="form-control" id="add-customer-city" name="add-customer-city" placeholder="" formControlName="City" [ngModel]="customerFormData.City"></td>
                </tr>
                <tr class="form-group">
                  <td><label for="add-customer-address" class="font-weight-bold">Address*:</label></td>
                  <td><input type="text" class="form-control" id="add-customer-address" name="add-customer-address" placeholder="" formControlName="Address" [ngModel]="customerFormData.Address"></td>
                </tr>
                <tr class="form-group">
                  <td><label for="add-customer-pin-code" class="font-weight-bold">Pin Code*:</label></td>
                  <td><input type="text" class="form-control" id="add-customer-pin-code" name="add-customer-pin-code" placeholder="" formControlName="PinCode" required [pattern]="pincodePattern" [ngModel]="customerFormData.PinCode"></td>
                </tr>
                <tr class="validateColor" *ngIf="PinCode.errors && (PinCode.dirty || PinCode.touched)"> 
                    <td *ngIf="PinCode.errors.required">
                        Pin Code Required
                    </td>      
                    <td *ngIf="PinCode.errors.pattern">
                        Pin Code not valid
                    </td> 
                   </tr> 
                <tr class="form-group">
                  <td><label for="add-customer-type" class="font-weight-bold">Customer Type*:</label></td>
                  <!--<td><input type="text" class="form-control" id="add-customer-type" name="add-customer-type" placeholder="" formControlName="CustomerType" [ngModel]="customerFormData.CustomerType"></td>-->
                  <td>
                      <select class="form-control" id="add-customer-type" required name="add-customer-type" formControlName="CustomerType" [ngModel]="customerFormData.CustomerType">
                          <option value="Retail" [selected]="customerFormData.CustomerType=='Retail'">Retail</option>
                          <option value="Enterprise" [selected]="customerFormData.CustomerType=='Enterprise'">Enterprise</option>
                        
                        <!--<option *ngFor="let ctype of customerType" [selected]="customerFormData.CustomerType==ctype.customerType" [ngValue]="ctype.customerType">{{ctype.Name}}</option>-->
                      </select>
                  </td>
                </tr>
                <tr class="form-group">
                  <td><label for="add-customer-status" class="font-weight-bold">Status*:</label></td>
                  <td>
                    <select class="form-control" id="add-customer-status" name="add-customer-status" formControlName="Status" [ngModel]="customerFormData.Status">
                      <!--<option value="">Select Status</option>-->  
                      <option value="Active" [selected]="customerFormData.Status=='Active'">Active</option>
                      <option value="In Active" [selected]="customerFormData.Status=='In Active'">In Active</option>
                    </select>
                  </td>
                </tr>
                <tr class="form-group">
                  <td>&nbsp;</td>
                  <td>
                    <div class="mt-2">
                      <button type="submit" class="btn btn-primary" [disabled]="!addCustomerForm.valid">Save</button>
                      <button type="button" class="btn btn-primary" (click)="openCancel(canceltemplate, $event)" >Cancel</button>
                    </div>
                  </td>
                </tr>
              </table>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </section>
</app-page-prime>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Alert</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Customer Record Updated succesfully
  </div>
</ng-template>
<ng-template #canceltemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Alert</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      You have Edited the record,Are you sure want to cancel ?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onCancel(canceltemplate)">Yes</button>
    <button type="submit" class="btn btn-primary" (click)="modalRef.hide()">No</button>
  </div>
</ng-template>