<app-tabular-content-primary (linkedDevice)="linkedDevice($event)" [tabularData]="tabularContent"  [rowClickHandler]="selectRow.bind(this)"></app-tabular-content-primary>
<!--(selectedGroup)="onselectedGroup($event)"  (selectedDevice)="onselectedDevice($event)"
<div class="col icon-bar m-3">
    <button class="btn icon-box bg-search" type="submit">
      <img class="icon menu-icon" src="assets/icons/svg/si-glyph-link-right.svg" />
    </button>
    <button class="btn icon-box bg-search" type="submit">
      <img class="icon menu-icon" src="assets/icons/svg/si-glyph-link-break-right.svg" />
    </button>
</div>-->
