<div class="container-flex">
  <div class="table-container row">
    <table class="table table-scrollable">
      <tr class="header-row text-uppercase">
        <th *ngFor="let dataHead of tabularData.tableHeaders">{{dataHead}}</th>
      </tr>
      <tr (click)="rowClickHandler()" [ngSwitch]="tabularData.pageName" *ngFor="let data of tabularData.tableData; let i = index; let odd=odd; let even=even" [class.odd]="odd" [class.even]="even">
        <ng-template [ngSwitchCase]="'issues'">
          <!-- Issues Data -->
          <td>{{data.serial}}</td>
          <td>{{data.category}}</td>
          <td>{{data.deviceID}}</td>
          <td>{{data.createdBy}}</td>
          <td>{{data.assignee}}</td>
        </ng-template>
        <ng-template [ngSwitchCase]="'nonGroupDevices'">
          <!-- Groups / nonGroupDevices Data -->
          <td>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="non-group-{{i}}">
              <label for="non-group-{{i}}">{{data.Name}}</label>
            </div>
          </td>
          <td>{{data.Devices[0]}}</td>
          <td>{{data.User}}</td>
          <td>{{data.UserGroups[0]}}</td>
          <td>{{data.Description}}</td>
          <td>{{data.CreatedBy}}</td>
        </ng-template>
        <ng-template [ngSwitchCase]="'groupDevices'">
          <!-- Groups / groupDevices Data -->
          <td>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="non-group-{{i}}">
              <label for="non-group-{{i}}">{{data.name}}</label>
            </div>
          </td>
          <td>{{data.group}}</td>
          <td>{{data.ward}}</td>
          <td>{{data.pincode}}</td>
        </ng-template>
        <ng-template [ngSwitchCase]="'emptyGroups'">
          <!-- Groups / emptyGroups Data -->
          <td>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="non-group-{{i}}">
              <label for="non-group-{{i}}">{{data.name}}</label>
            </div>
          </td>
          <td>{{data.group}}</td>
          <td>{{data.ward}}</td>
          <td>{{data.pincode}}</td>
        </ng-template>
        <ng-template [ngSwitchCase]="'devices'">
          <!-- Devices Data -->
          <td>{{data.name}}</td>
          <td>{{data.group}}</td>
          <td>{{data.ward}}</td>
          <td>{{data.pincode}}</td>
        </ng-template>
      </tr>
    </table>
    <div class="col icon-bar m-3">
      <button class="btn icon-box bg-search" type="submit">
        <img class="icon menu-icon" src="assets/icons/svg/si-glyph-link-right.svg" />
      </button>
      <button class="btn icon-box bg-search" type="submit">
        <img class="icon menu-icon" src="assets/icons/svg/si-glyph-link-break-right.svg" />
      </button>
    </div>
  </div>
</div>
