<app-page-prime>
  <div class="content-wrapper-module issues-module">
    <section class="container-flex">
      <div class="collapse-content-parent {{collapsedClass}}">
        <div class="icon-bar text-right mt-2 mb-2">
          <button class="btn icon-box bg-search" type="button" (click)="isChartCollapsed = !isChartCollapsed">
            <img class="icon menu-icon exp-collapse" src="assets/icons/svg/si-glyph-arrow-two-up.svg" />
          </button>
        </div>
        <div (collapsed)="chartCollapsed($event)"
             (expanded)="chartExpanded($event)"
             [collapse]="isChartCollapsed"
             class=" ">
          <div class="row graphs-container">
            <div class="col-5 col-sm-5 col-md-5 col-lg-5" *ngFor="let graph of graphData">
              <app-chart-doughnut [doughnutGraphData]="graph" [showTotal]="true"></app-chart-doughnut>
            </div>
          </div>
          <ul class="product-detail-list list-inline row" *ngFor="let counts of graphData">
            <li class="col-6">Total Issues: {{counts.totalCount}}</li>
            <li class="col-6 text-right">P2 Issues: {{counts.activity2Value}}</li>
            <li class="col-6">P1 Issues: {{counts.activity1Value}}</li>
            <li class="col-6 text-right">P3 Issues: {{counts.activity3Value}}</li>
          </ul>
        </div>
      </div>
    </section>
    <section class="product-details">
      <div class="row product-details-row">
        <nav class="navbar navbar-light bg-light icon-bar">
          <div class="col sec-title-prime">ISSUES</div>
          <div class="right-container">
            <app-tabular-search-field></app-tabular-search-field>
          </div>
          <div class="col right-container">
              <a href="#" class="nav-link icon-box selected">
                <img class="icon menu-icon" src="assets/icons/svg/si-glyph-circle-plus.svg" (click)="myClickHandler($event)" />
              </a>
          </div>
        </nav>
      </div>
    </section>
    <section class="product-table">
      <app-tabular-content-primary [tabularData]="issuesListData" [rowClickHandler]="selectRow.bind(this)"></app-tabular-content-primary>
    </section>
  </div>
</app-page-prime>
