<div class="row no-gutters gray-theme">
  <form class="form-inline" name="tableSearchForm" method="post" [formGroup]="tableContentSearchForm" novalidate >
    <div class="col-10 p-0">
      <input type="text" class="form-control mx-sm-3" autocomplete="off" name="searchStringValue" (submit)="event.preventDefault()"
             formControlName="tableSearchField" [(ngModel)]="tableSearchFieldValue"
             placeholder="Search in table" (keyup)="sendMessage()" />
    </div>
    <div class="col-2 p-0">
      <button class="btn icon-box bg-search btn-outline-success" type="button">
        <img class="icon menu-icon" src="assets/icons/svg/si-glyph-text-search.svg" />
      </button>
    </div>
  </form>
</div>
