<app-page-prime>
  <section class="admin-add-user-module container-flex">
    <div class="container-liquid">
      <div class="row">
        <div class="form-title-container col-12">
          <span class="form-title">ADMIN - USER</span>
        </div>

        <div class="form-container col-12">
          <form name="addUserForm" (submit)="saveUser(template)"  [formGroup]="addUserForm" novalidate >
              <input *ngIf="UserForm == 'Edit'" type="hidden" class="form-control" id="add-user-customer-id" name="add-user-customer-id" [ngModel]="userFormData.CustomerID" formControlName="CustomerID">

            <fieldset class="{{statusClass}}">
                <div class="error-message alert alert-danger">
                    {{errorMsg}}
                  </div>
              <table class="table">
                  <tr class="form-group">
                      <td><label for="add-user-customerID" class="font-weight-bold">Customer Id*:</label></td>
                      <td>
                          <select class="form-control" id="add-user-customerID" required name="add-user-customerID" formControlName="CustomerID" [ngModel]="userFormData.CustomerID">
                            <!--<option value="">Select Customer</option>-->
                            <option *ngFor="let custList of customerList" [ngValue]="custList.CustomerID">{{custList.Name}}</option>
                          </select>
                      </td>
                    </tr>
                <tr class="form-group">
                  <td><label for="add-user-userID" class="font-weight-bold">User ID*:</label></td>
                  <td><input type="text" class="form-control" id="add-user-userID" required name="add-user-userID" placeholder="" formControlName="UserID" [ngModel]="userFormData.UserID"></td>
                </tr>
                <tr class="form-group">
                  <td><label for="add-user-first-name" class="font-weight-bold">First Name*:</label></td>
                  <td><input type="text" class="form-control" id="add-user-first-name" required name="add-user-first-name" placeholder="" formControlName="FirstName" [ngModel]="userFormData.FirstName"></td>
                </tr>
                <tr class="form-group">
                  <td><label for="add-user-last-name" >Last Name:</label></td>
                  <td><input type="text" class="form-control" id="add-user-last-name" name="add-user-last-name" placeholder="" formControlName="LastName" [ngModel]="userFormData.LastName"></td>
                </tr>
                <!--<tr class="form-group">
                  <td><label for="add-user-password" >Password:</label></td>
                  <td><input type="text" class="form-control" id="add-user-password" name="add-user-password" placeholder="" formControlName="Password" [ngModel]="userFormData.Password"></td>
                </tr>-->
                <tr class="form-group">
                  <td><label for="add-user-email-address" class="font-weight-bold">Email Address*:</label></td>
                  <td><input type="text" class="form-control" id="add-user-email-address" name="add-user-email-address" placeholder="" formControlName="EmailAddress" required [pattern]="emailPattern" [ngModel]="userFormData.EmailAddress"></td>
                </tr>
                <tr class="validateColor" *ngIf="EmailAddress.errors && (EmailAddress.dirty || EmailAddress.touched)"> 
                  <td *ngIf="EmailAddress.errors.required">
                      Email Address Required
                  </td>      
                  <td *ngIf="EmailAddress.errors.pattern">
                        Email not valid.
                  </td> 
                 </tr> 
                <tr class="form-group">
                  <td><label for="add-user-profile-picture" >Profile Picture:</label></td>
                  <td><input type="text" class="form-control" id="add-user-profile-picture" name="add-user-profile-picture" placeholder="" formControlName="ProfilePicture" [ngModel]="userFormData.ProfilePicture"></td>
                </tr>
                <tr class="form-group">
                  <td><label for="add-user-profile-picture" class="font-weight-bold">Mobile Number*:</label></td>
                  <td><input type="text" class="form-control" id="add-user-MobileNo" name="add-user-MobileNo" placeholder="" formControlName="MobileNo" required [pattern]="phonePattern" [ngModel]="userFormData.MobileNo"></td>
                </tr>
                <tr class="validateColor" *ngIf="MobileNo.errors && (MobileNo.dirty || MobileNo.touched)"> 
                  <td *ngIf="MobileNo.errors.required">
                      Mobile Number Required
                  </td>      
                  <td *ngIf="MobileNo.errors.pattern">
                        Mobile Number not valid.
                  </td> 
                 </tr>
                <tr class="form-group">
                  <td><label for="add-user-profile-picture" >Designation:</label></td>

                  <td>
                    <select class="form-control" id="add-user-IssueGroupId" name="add-user-IssueGroupId" formControlName="IssueGroupId" [ngModel]="userFormData.IssueGroupId">
                       <!--<option value="">Select GroupID</option>-->   
                      <option *ngFor="let issue of issueList" [ngValue]="issue.GroupID">{{issue.Name}}</option>
                    </select>
                </td>
                  <!--<td>
                      <select class="form-control" id="add-user-IssueGroupId" name="add-user-IssueGroupId" formControlName="IssueGroupId" [(ngModel)]="userFormData.IssueGroupId">
                          <option value="L1" [selected]="userFormData.IssueGroupId=='L1'">L1</option>
                          <option value="L2" [selected]="userFormData.IssueGroupId=='L2'">L2</option>
						              <option value="L3" [selected]="userFormData.IssueGroupId=='L3'">L3</option>
                       </select>
                  </td>-->
                </tr>
                <!--<tr class="form-group">
                  <td><label for="add-user-profile-picture" >Issue GroupId:</label></td>
                  <td><input type="text" class="form-control" id="add-user-IssueGroupId" name="add-user-IssueGroupId" placeholder="" formControlName="IssueGroupId" [ngModel]="userFormData.IssueGroupId"></td>
                </tr>-->
                <tr class="form-group">
                  <td><label for="add-user-role" class="font-weight-bold">Role*:</label></td>
                  <td>
                      <select class="form-control" id="add-user-Role" required name="add-user-Role" formControlName="Role" [(ngModel)]="userFormData.Role">
                        <!--<option value="">Select Customer</option>-->
                        <option *ngFor="let uRole of userRole" [ngValue]="uRole.Role">{{uRole.Name}}</option>
                      </select>
                  </td>
                  <!--<td>
                    <select class="form-control" id="add-user-role" required name="add-user-role" formControlName="Role" [(ngModel)]="userFormData.Role">
                        userRole
                      <option value="">Select Role</option>
                      <option value="CA" [selected]="userFormData.Role =='CA'">Company Admin</option>
                      <option value="CU" [selected]="userFormData.Role =='CU'">Company User</option>
                      <option value="VA" [selected]="userFormData.Role =='VA'">Vendor Admin</option>
                      <option value="VU" [selected]="userFormData.Role =='VU'">Vendor User</option>
                    </select>
                  </td>-->
                </tr>
                <tr class="form-group">
                  <td><label for="edit-device-status" >Email Opted:</label></td>
                  <td>
                      <select class="form-control" id="user-EmailOpted" name="user-EmailOpted" formControlName="EmailOpted" [(ngModel)]="userFormData.EmailOpted">
                          <!--<option value="">Select Email Opted</option>-->
                          <option value=true [selected]="userFormData.EmailOpted==true">Yes</option>
                          <option value=false [selected]="userFormData.EmailOpted==false">No</option>
                       </select>
                  </td>
                </tr>
                <tr class="form-group">
                  <td><label for="edit-device-status" >SMS Opted:</label></td>
                  <td>
                      <select class="form-control" id="user-SMSOpted" name="user-SMSOpted" formControlName="SMSOpted" [(ngModel)]="userFormData.SMSOpted">
                          <!--<option value="">Select SMS Opted</option>-->
                          <option value=true [selected]="userFormData.SMSOpted==true">Yes</option>
                          <option value=false [selected]="userFormData.SMSOpted==false">No</option>
                       </select>
                  </td>
                </tr>
                <tr class="form-group">
                  <td><label for="edit-device-status" >Status:</label></td>
                  <td>
                      <select class="form-control" id="user-status" name="user-status" formControlName="IsActive" [(ngModel)]="userFormData.IsActive">
                          <!--<option value="">Select Status</option>-->
                          <option value=true [selected]="userFormData.IsActive==true">Active</option>
                          <option value=false [selected]="userFormData.IsActive==false">In Active</option>
                       </select>
                  </td>
                </tr>
                <tr class="form-group">
                  <td>&nbsp;</td>
                  <td>
                    <div class="mt-2">
                      <button type="submit" class="btn btn-primary" [disabled]="!addUserForm.valid">Save</button>
                      <button type="button" class="btn btn-primary" (click)="openCancel(canceltemplate, $event)" >Cancel</button>
                    </div>
                  </td>
                </tr>
              </table>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </section>
</app-page-prime>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Alert</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    User Record Updated succesfully
  </div>
</ng-template>
<ng-template #canceltemplate>
  
  <div class="modal-header">
    <h4 class="modal-title pull-left">Alert</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      You have Edited the record,Are you sure want to cancel ?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onCancel(canceltemplate)">Yes</button>
    <button type="submit" class="btn btn-primary" (click)="modalRef.hide()">No</button>
  </div>
  </ng-template>
