<app-modal-popup [modalRef]="modalRef" [modalHeader]="modalHeader">
  <form name="createScheduleTemplateForm" (submit)="createScheduleTemplateSubmit($event)" method="post"
        [formGroup]="createScheduleTemplateForm" novalidate >
    <fieldset class="{{statusClass}}">
      <div class="form-group row no-gutters">
        <div class="col-8">
          <label for="schedule-template-name">Template Name</label>
          <input type="text" class="form-control"
                 id="schedule-template-name" placeholder="" (change)="validateForm()"
                 [ngModel]="scheduleTemplateName" formControlName="templateName">
        </div>
      </div>

      <div class="row no-gutters">
        <div class="form-check-inline col-3">
          <input class="form-check-input" type="checkbox" #daysCheckBox
                 value="AllDays" id="template-all-days" [checked]="isDaysChecked" [ngModel]="isDaysChecked"
                 formControlName="templateAllDays" (change)="isDaysChecked = !isDaysChecked">
          <label class="form-check-label" for="template-all-days">
            All Days
          </label>
        </div>

        <div class="form-check-inline col-3">
          <input class="form-check-input" type="checkbox" #daysCheckBox
                 value="Mon" id="template-mon" [checked]="isDaysChecked" [ngModel]="isDaysChecked"
                 formControlName="templateMonday">
          <label class="form-check-label" for="template-mon">
            Mon
          </label>
        </div>

        <div class="form-check-inline col-3">
          <input class="form-check-input" type="checkbox" #daysCheckBox
                 value="Tue" id="template-tue" [checked]="isDaysChecked" [ngModel]="isDaysChecked"
                 formControlName="templateTuesday">
          <label class="form-check-label" for="template-tue">
            Tue
          </label>
        </div>

        <div class="form-check-inline col-3">
          <input class="form-check-input" type="checkbox" #daysCheckBox
                 value="Wed" id="template-wed" [checked]="isDaysChecked" [ngModel]="isDaysChecked"
                 formControlName="templateWednesday">
          <label class="form-check-label" for="template-wed">
            Wed
          </label>
        </div>
      </div>

      <div class="row no-gutters form-group">
        <div class="form-check-inline col-3">
          <input class="form-check-input" type="checkbox" #daysCheckBox
                 value="Thu" id="template-thu" [checked]="isDaysChecked" [ngModel]="isDaysChecked"
                 formControlName="templateThursday">
          <label class="form-check-label" for="template-thu">
            Thu
          </label>
        </div>

        <div class="form-check-inline col-3">
          <input class="form-check-input" type="checkbox" #daysCheckBox
                 value="Fri" id="template-fri" [checked]="isDaysChecked" [ngModel]="isDaysChecked"
                 formControlName="templateFriday">
          <label class="form-check-label" for="template-fri">
            Fri
          </label>
        </div>

        <div class="form-check-inline col-3">
          <input class="form-check-input" type="checkbox" #daysCheckBox
                 value="Sat" id="template-sat" [checked]="isDaysChecked" [ngModel]="isDaysChecked"
                 formControlName="templateSaturday">
          <label class="form-check-label" for="template-sat">
            Sat
          </label>
        </div>

        <div class="form-check-inline col-3">
          <input class="form-check-input" type="checkbox" #daysCheckBox
                 value="Sun" id="template-sun" [checked]="isDaysChecked" [ngModel]="isDaysChecked"
                 formControlName="templateSunday">
          <label class="form-check-label" for="template-sun">
            Sun
          </label>
        </div>
      </div>

      <div class="row no-gutters form-group">
        <div class="w-100"><strong>Time</strong></div>
        <div class="col-12 col-sm-6">
          <label class="mb-0">From:</label>
          <timepicker [(ngModel)]="templateStartTime"
                      [showMeridian]="false"
                      [showMinutes]="true"
                      [showSeconds]="true"
                      [mousewheel]="true"
                      [arrowkeys]="true"
                      [showSpinners]="false"
                      required
                      formControlName="templateTimeFrom"></timepicker>

        </div>
        <div class="col-12 col-sm-6">
          <label class="mb-0">Till:</label>
          <timepicker [(ngModel)]="templateEndTime"
                      [showMeridian]="false"
                      [showMinutes]="true"
                      [showSeconds]="true"
                      [mousewheel]="true"
                      [arrowkeys]="true"
                      [showSpinners]="false"
                      required
                      formControlName="templateTimeTill"></timepicker>
        </div>

      </div>
      <div class="row no-gutters form-group">
        <div class="w-100"><strong>Luminocity</strong></div>
        <div class="col-3 col-sm-2">
          <timepicker [(ngModel)]="templateLuminocity"
                      [showMeridian]="false"
                      [showMinutes]="false"
                      [showSeconds]="false"
                      [mousewheel]="true"
                      [arrowkeys]="true"
                      [showSpinners]="false"
                      [min]="luminocityMin"
                      [max]="luminocityMax"
                      required
                      #luminocity
                      formControlName="templateLuminocity"></timepicker>
        </div>
        <button type="button" class="btn btn-primary" (click)="decreaseLuminocity()"><strong>-</strong></button>
        <button type="button" class="btn btn-primary ml-1" (click)="increaseLuminocity()">+</button>
      </div>
      <div class="row no-gutters form-group">
        <div class="buttons form-inline">
          <div class=" ">
            <button type="submit" class="btn btn-primary">Set</button>
          </div>
          <div class="ml-2">
            <button type="button" class="btn btn-primary" (click)="modalRef.hide()">Cancel</button>
          </div>
        </div>
      </div>

      </fieldset>
    </form>
</app-modal-popup>
