
<app-page-prime>
    <div class="content-wrapper-module admin-module">
    <section class="product-details">
        <div class="row product-details-row">
            <nav class="navbar navbar-light bg-light icon-bar">
            <div class="col sec-title-prime">Device Details</div>
            <div class="col right-container">
                    <app-tabular-search-field></app-tabular-search-field> 
               <!-- <form class="" >
                <input class="form-control search-input icon-box" type="search" placeholder="Search" aria-label="Search" #searchInput>
                <button class="btn icon-box bg-search btn-outline-success" type="submit">
                    <img class="icon menu-icon" src="assets/icons/svg/si-glyph-text-search.svg" (click)="mySearch(searchInput.value)"/>
                </button>
                </form>-->
            </div>
            <div class="col-2 right-container" *ngIf="userRole=='CA'|| userRole=='CU'" >
                <!--<a href="#" class="nav-link icon-box selected" >-->
                  <img class="icon menu-icon" src="assets/icons/svg/si-glyph-circle-plus.svg" (click)="myClickHandler()" />
                <!--</a>-->
            </div>
            </nav>
        </div>
    </section>
    <section class="product-table">
          <!--  [rowClickHandler]="editDevice.bind(this)"
            (onRowclick)="selectRow($event)"-->
        <app-tabular-content-primary [tabularData]="deviceListData"  [rowClickHandler]="selectRow.bind(this)" ></app-tabular-content-primary>
    </section>
</div>
    </app-page-prime>

