<app-page-prime>
  <div class="groups-module">
    <section class="container-flex">
      <div class="row mt-3 graphs-container">
        <div class="col-5 col-sm-5 col-md-5 col-lg-5" *ngFor="let graph of groupsData.activitySummary;
                                                            trackBy: prepareGraphData.bind(this)">
          <app-chart-doughnut [doughnutGraphData]="graph" [showTotal]="true"></app-chart-doughnut>
        </div>
      </div>
    </section>
    <section class="product-details">
      <ul class="product-detail-list list-inline row" *ngFor="let counts of groupsData.activitySummary;">
        <li class="col-6">Total Groups: {{counts.totalCount}}</li>
        <li class="col-6 text-right">Grouped Devices: {{counts.groupedDevices}}</li>
        <li class="col-6">Total Devices: {{counts.totalDevices}}</li>
        <li class="col-6 text-right">Non-grouped Devices: {{counts.nonGroupedDevices}}</li>
      </ul>
      <div class="row product-details-row">
        <nav class="navbar navbar-light bg-light icon-bar">
          <div class="col sec-title-prime">DEVICES IN THE GROUPS</div>
          <button type="button" class="btn btn-primary" (click)="openModal(template, $event)">Create template modal</button>
          <div class="col right-container">
            <a href="/groups" class="nav-link icon-box selected" (click)="openModal(template, $event)">
              <img class="icon menu-icon" src="assets/icons/svg/si-glyph-circle-plus.svg" />
            </a>
          </div>
        </nav>
      </div>
    </section>
    <section class="product-table">
      <app-navbar-tabs [tabMenuList]="menuList"></app-navbar-tabs>
      <router-outlet></router-outlet>
    </section>
  </div>
</app-page-prime>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template>
