<app-page-prime>
  <div class="groups-module">
    <section class="container-flex">
      <div class="row mt-3 graphs-container">
        <div class="col-5 col-sm-5 col-md-5 col-lg-5" *ngFor="let graph of groupsData.activitySummary;
                                                            trackBy: prepareGraphData.bind(this)">
          <app-chart-doughnut [doughnutGraphData]="graph" [showTotal]="true"></app-chart-doughnut>
        </div>
      </div>
    </section>
    <section class="product-details">
      <div class="row">
        <ul class="product-detail-list list-inline" *ngFor="let counts of groupsData.activitySummary;">
          <li class="list-inline-item">Total Groups: {{counts.totalCount}}</li>
          <li class="list-inline-item">Grouped Devices: {{counts.groupedDevices}}</li>
          <li class="list-inline-item">Total Devices: {{counts.totalDevices}}</li>
          <li class="list-inline-item">Non-grouped Devices: {{counts.nonGroupedDevices}}</li>
        </ul>
      </div>

      <div class="row product-details-row">
        <nav class="navbar navbar-light bg-light icon-bar">
          <div class="col sec-title-prime">DEVICES IN THE GROUPS</div>
          <div class="col right-container">
            <a href="#" class="nav-link icon-box selected">
              <img class="icon menu-icon" src="assets/icons/svg/si-glyph-circle-plus.svg" />
            </a>
          </div>
        </nav>
      </div>
    </section>
    <section class="product-table">
      <app-navbar-prime></app-navbar-prime>
      <router-outlet></router-outlet>
      <app-tabular-content-primary [tabularData]="groupsListData"></app-tabular-content-primary>
    </section>
  </div>
</app-page-prime>
