<app-page-prime>
  <div class="content-wrapper-module groups-module">
    <section class="container-flex">
      <div class="collapse-content-parent {{collapsedClass}}">
        <div class="icon-bar text-right mt-2 mb-2">
          <button class="btn icon-box bg-search" type="button" (click)="isChartCollapsed = !isChartCollapsed">
            <img class="icon menu-icon exp-collapse" src="assets/icons/svg/si-glyph-arrow-two-up.svg" />
          </button>
        </div>
        <div (collapsed)="chartCollapsed($event)"
             (expanded)="chartExpanded($event)"
             [collapse]="isChartCollapsed"
             class=" ">
          <div class="row graphs-container">
            <div class="col-5 col-sm-5 col-md-5 col-lg-5" *ngFor="let graph of graphData">
              <app-chart-doughnut [doughnutGraphData]="graph" [showTotal]="true"></app-chart-doughnut>
            </div>
          </div>
          <ul class="product-detail-list list-inline row" *ngFor="let counts of graphData">
            <li class="col-6">Total Linked Devices: {{counts.totalCount}}</li>
            <li class="col-6 text-right">Total UnLinked Devices: {{counts.activity1Value}}</li>
            <li class="col-6">Total Grouped Devices: {{counts.activity2Value}}</li>
            <li class="col-6 text-right">Total UnGrouped Devices: {{counts.activity3Value}}</li>
          </ul>
        </div>
      </div>
    </section>
    <section class="product-details">
      <div class="row product-details-row">
        <nav class="navbar no-gutters navbar-light bg-light icon-bar inverse-theme form-tight-row">
          <div class="col-3 sec-title-prime">Groups</div>
          <div  class="col-7">
            <form class="form-inline" name="groupsUpdateForm" action="" (submit)="unda" method="post" [formGroup]="groupsUpdateForm" novalidate >
              <div class="form-row row no-gutters form-tight-cell w-100">
                <div class="col-9">
                  <div class="row no-gutters">
                    <select class="col-9 form-control" id="search-groups-select" name="search-groups-select" formControlName="searchGroupsSelect">
                      <option selected="selected">Groups 1</option>
                      <option>Groups 2</option>
                      <option>Groups 4</option>
                    </select>
                    <div class="col-3">
                      <button class="btn icon-box bg-search btn-outline-success" type="submit">
                        <img class="icon menu-icon" src="assets/icons/svg/si-glyph-text-search.svg" />
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <button class="btn icon-box bg-search btn-outline-success" type="submit">
                    <img class="icon menu-icon" src="assets/icons/svg/si-glyph-trash.svg" />
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-2 right-container">
            <a href="/groups" class="nav-link icon-box selected" (click)="openModal(template, $event)">
              <img class="icon menu-icon" src="assets/icons/svg/si-glyph-circle-plus.svg" />
            </a>
          </div>
        </nav>
      </div>
      <div class="row product-details-row">
        <nav class="navbar navbar-light bg-light icon-bar">
          <div class="col sec-title-prime">DEVICES IN THE GROUPS</div>
          <div class="col right-container">
            <form class="">
              <input class="form-control search-input icon-box" type="search" placeholder="Search" aria-label="Search">
              <button class="btn icon-box bg-search btn-outline-success" type="submit">
                <img class="icon menu-icon" src="assets/icons/svg/si-glyph-text-search.svg" />
              </button>
            </form>
          </div>
        </nav>
      </div>
    </section>
    <section class="product-table">
      <app-navbar-tabs [tabMenuList]="menuList"></app-navbar-tabs>
      <router-outlet></router-outlet>
    </section>
  </div>
</app-page-prime>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template>
