@import '~assets/styles/app/less/variables.less';
@import '~assets/styles/app/less/colors.less';

.graph-bottom-content {
  font-size: @size-third;

}
.graph-container {
  display: block;
  position: relative;
  cursor: pointer;
}
.equipment-type {
  margin: @size-em-xxs 0 @size-em-sm;
}
.center-container {
  box-shadow: 0 0 @size-em-md 0 @box-shadow-prime;
  position: absolute;
  display: table;
  text-align: center;
  background: white;
  box-sizing: content-box;
  overflow: hidden;
  z-index: 1;
  border-radius: 50%;
  width: 90%;
  left: 5px;
  top: 5px;
  .center-content {
    display: table-cell;
    color: black;
    vertical-align: middle;
    text-align: center;
    &>* {
      margin: 0;
      line-height: @size-em-xl * 1.2;
      font-size: @size-third;
    }
  }
}
/* OVERRIDES - Issues */
:host-context(.issues-module, .groups-module, .schedules-module) {
  .graph-bottom-content {
    display: none;
  }
}

@media (min-width: 576px) {
  .graph-bottom-content {
    font-size: @size-prime;
  }
  .center-container {
    .center-content {
      &>* {
        font-size: @size-prime;
        line-height: inherit;
      }
    }
  }
}
