<div #graphContainer class="graph-container"
     (click)="this.router.url == '/dashboard' && prepareNavigation(graphContainer)"
     [attr.data-page-type]="doughnutGraphData.type" >
  <div class="center-container" >
    <div class="center-content">
      <p><strong>{{doughnutGraphData.activityPercent}}%</strong></p>
      <p>{{doughnutGraphData.title}}</p>
    </div>
  </div>
  <canvas #summaryChart id="summary-chart" width="200%" height="200%" baseChart
          [data]="doughnutGraphData.doughnutChartData"
          [labels]="doughnutGraphData.doughnutChartLabels"
          [colors]="doughnutGraphData.colors"
          [chartType]="doughnutGraphData.doughnutChartType"
          [legend]="false"
          [options]="doughnutGraphData.options"
          (chartHover)="doughnutGraphData.chartHovered($event)"
          (chartClick)="doughnutGraphData.chartClicked($event)" >
  </canvas>
</div>

<div *ngIf="showTotal; then total else type"></div>
<ng-template #total><div class="graph-bottom-content equipment-total text-right">Actual: {{doughnutGraphData.totalCount}} Units</div></ng-template>
<ng-template #type><div class="graph-bottom-content equipment-type text-center text-uppercase" >{{doughnutGraphData.type}}</div></ng-template>

