@size-prime: 16px;
@size-second: 14px;
@size-third: 13px;
@size-four: 12px;


/* SIZE IN REM */
@size-em-base: 0.1rem;
@size-em-xxs: (@size-em-base * 2.5); // .25rem = 4px
@size-em-xs: (@size-em-base * 3.125); // .3125rem = 5px
@size-em-sm: (@size-em-base * 5); //.5rem = 8px
@size-em-md: (@size-em-base * 7.5); // .75rem = 12px
@size-em-lg: (@size-em-base * 10); // 1rem = 16px


